<div class="q-pa-md">
  <div class="row">
    <div class="col-12 col-md-12">
      <n-simple-table title="itemType" module="itemType" v-bind:visibleColumns="['name', 'color']"  v-bind:rows="<%= @item_types.to_json %>" v-bind:columns="<%= ItemType::TABLE_COLUMNS %>">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <n-simple-table title="item" module="item" v-bind:visibleColumns="['name', 'item_type_id']" v-bind:rows="<%= @items.to_json %>" v-bind:columns="<%= Item::TABLE_COLUMNS %>">
    </div>
  </div>
</div>